{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 border p-4 rounded bg-light-subtle shadow-sm">
            <h1 class="mb-4">Profilo di {{ user.username }}</h1>
            <!-- <p>Età dell'utente: {{ user.profile.age }} anni</p> -->
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}

                <div class="my-custom-form">
                    {{ form.as_p }}
                </div>  
                
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Annulla</a>
                    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .my-custom-form p label {
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
    }
</style>
{% endblock %}
