{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Register</h1>
            
            <form method="post">
                {% csrf_token %}
                <div class="my-custom-form">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
            </form>
        </div>
    </div>
</div>

<style>
    .my-custom-form p label {
        font-weight: 600;
        color: #495057;
        margin-bottom: 5px;
        display: block;
        font-size: 0.95rem;
    }
</style>

{% endblock %}


